@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import 'blocks/menu.scss';
@import './range.scss';
@import './libs.scss';

.shop_phone {
    .white_block {
        background: #FFF;
    }

    .phone {
        margin-bottom: 34px;

        .bredcrumbs {
            padding: 15px 0px 25px 0px;

            .breadcrums_item {
                color: #788089;
                font-family: Montserrat;
                font-size: 13px;
                line-height: 16px;
            }

            .breadcrums_rect {
                position: absolute;
                top: 12px;
                //margin-left: 5px;
                width: 4px;
                height: 4px;
                transform: rotate(45deg);
                background-color: #788089;
            }
        }

        .main_offer  {
            padding: 33px 0px;

            h1 {
                margin: 22px auto;
            }

            //.photos {
                //.photos_main {
                //    border:1px solid red;
                //}
            //}

            .desc {
                .desc_price {
                    .desc_price_title {
                        olor: #3B424B;
                        font-family: "Source Sans Pro";
                        font-size: 15px;
                        line-height: 20px;
                    }

                    .desc_old_price_digit {
                        margin-left: 19px;
                        text-decoration: line-through;
                        color: #3B424B;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                    }

                    .desc_current_price {
                        margin: 7px 0px 23px 0px;

                        .desc_price_digit {
                            color: #3B424B;
                            font-family: Montserrat;
                            font-size: 32px;
                            font-weight: bold;
                            line-height: 24px;
                        }
                    }
                }
                .desc_prices {
                    padding: 5px 20px 5px 0px;

                    .desc_prices_header_label {
                        color: #3B424B;
                        font-family: "Source Sans Pro";
                        font-size: 15px;
                        line-height: 20px;
                    }
                    .digit {
                        margin: 2px 2px;

                        .desc_prices_price {
                            color: #3B424B;
                            font-family: Montserrat;
                            font-size: 24px;
                            font-weight: bold;
                            line-height: 24px;
                            //margin: 3px 2px;
                        }
                    }
                    .desc_prices_add {
                        color: #788089;
                        font-family: Montserrat;
                        font-size: 13px;
                        line-height: 16px;
                    }
                    .vertical_line {
                        box-sizing: border-box;
                        height: 63px;
                        width: 2px;
                        border: 1px solid #D1D3D4;
                    }
                    .instantly {
                        display: block;
                        text-align: center;
                        height: 22px;
                        width: 91px;
                        border-radius: 2px;
                        background-color: #EFE500;
                        color: #3B424B;
                        font-family: "Source Sans Pro";
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
                .horizontal_line {
                    margin: 20px 0px;
                    box-sizing: border-box;
                    height: 2px;
                    width: 100%;
                    border: 1px solid #D1D3D4;
                }
                .desc_properties {
                    h3 {
                        color: #3B424B;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 24px;
                    }
                    li {
                        color: #3B424B;	font-family: Montserrat;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    a.all_properties {
                        //width: 193px;
                        color: #00A0F9;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }

                //li, span {
                //    color: #3B424B;
                //    font-family: Montserrat;
                //    font-size: 16px;
                //}

                //a.all_props {
                //    //width: 193px;
                //    color: #00A0F9;
                //    font-family: Montserrat;
                //    font-size: 18px;
                //    font-weight: 500;
                //    line-height: 24px;
                //}
            }
        }
    }

    .offers {
        //padding: 34px 12% 42px 12%;
        margin-bottom: 10px;
        .offers_block {
            margin: 25px 0px;
            .offers_block_title {
                padding-left: 20px;
                color: #37383E;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
            }
            .sellers {
                overflow-y: auto;
                max-height: 500px;
                .seller, .credit_item {
                    padding: 0px 20px 0px 20px;
                    .seller_content {
                        height: 110px;
                        border-bottom: 1px solid #D1D3D4;
                        .row {
                            height: 100%;
                        }
                        .amount {
                            color: #3B424B;
                            font-family: Montserrat;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 24px;
                        }
                        //.seller_logo {
                        //    margin-left: 8px;
                        //}
                        .selected {
                            background-color: #F4F4F4;
                        }
                        //&:last-child {
                        //    border-bottom: none;
                        //}
                    }
                }
            }
            .scrollbar {
                float: left;
                //height: 300px;
                width: 100%;
                background: #F5F5F5;
                overflow-y: scroll;

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                &::-webkit-scrollbar {
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    width: 8px;
                    border-radius: 6.5px;
                    background-color: #788089;
                }
            }

            .bank_buttons {
                border: 1px solid #D1D3D4;
                border-radius: 2px;
                .bank_product_item {
                    //margin: auto 5px;
                    padding: 0px 10px;
                    border-radius: 2px 0 0 2px;
                }
                .selected {
                    background-color: #00A0F9;
                    color: #FFFFFF;
                }
                span {
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    //text-align: center;
                }
                .bank_button_separator {
                    margin: 5px 0px;
                    border-right: 1px solid #D1D3D4;
                }
            }
            .bank_periods {
                margin: 17px;
            }
        }
    }

    .registration {
        margin: 0px 10%;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 24px 0 rgba(249,0,243,0.14), 0 49px 55px 0 rgba(135,130,161,0.2);

        .white_block {
            padding: 43px 0px 39px 35px;

            .reg_h3 {
                //width: 174px;
                color: #37383E;
                font-family: Montserrat;
                font-size: 24px;
                font-weight: bold;
                line-height: 24px;
            }

            .fio_input, .contact_input {
                margin-bottom: 25px;
                border: none;
                border-bottom: 1px solid #F4F4F4;

                color: #4A4A4A;
                font-family: ".SF NS Display";
                font-size: 15px;
                line-height: 18px;
            }

            .accept_button {
                //margin-top: 10%;
                span {
                    margin-left: 5px;
                    color: #4A4A4A;
                    font-family: Helvetica;
                    font-size: 15px;
                    line-height: 18px;
                }
                button {
                    height: 56px;
                    width: 238px;
                    margin-top: 17px;
                    border-radius: 2px;
                    background-color: #00A0F9;
                    color: #FFFFFF;
                    font-family: Montserrat;
                    font-size: 22px;
                    line-height: 27px;
                    text-align: center;
                    text-shadow: 0 1px 0 0 #FFFFFF;
                }
            }

            .info_item {
                margin-top: 5px;
                color: #788089;
                font-family: "Source Sans Pro";
                font-size: 13px;
                line-height: 16px;
            }
        }
    }

    .similar_offers {
        margin-top: 50px;

        .similar_title {
            .pagination {
                .pagination_direction {
                    padding: 0px 5px;
                    color: #788089;
                }
            }
        }

        .similar_offer_block {
            .offer {
                padding: 25px;
                .offer_photo {
                    width: 212px;
                    height: 167px;
                }
                .offer_info {
                    margin-top: 32px;
                    .offer_title {
                        color: #788089;
                        font-family: Montserrat;
                        font-size: 13px;
                        line-height: 16px;
                    }
                    .offer_full_title {
                        color: #00A0F9;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                    .offer_prices {
                        margin-top: 25px;
                        .offer_prices_price {
                            margin-bottom: 20px;
                            .price_text {
                                color: #3B424B;
                                font-family: "Source Sans Pro";
                                font-size: 15px;
                                line-height: 20px;
                            }
                            .price_digit {
                                color: #3B424B;
                                font-family: Montserrat;
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 24px;
                            }
                            .dots {
                                border-bottom: 1px dotted #D1D3D4;
                            }
                        }
                    }
                }
                .all_offers {
                    color: #00A0F9;
                    font-family: "Source Sans Pro";
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }

        //.similar_offers .block span:not(.h3), .similar_offers .block .span {
        //    color: #788089;
        //    font-family: "Source Sans Pro";
        //    font-size: 13px;
        //    line-height: 16px;
        //}
        //
        //.similar_offers .block button {
        //    height: 40px;
        //    width: 145px;
        //    border-radius: 2px;
        //    background-color: #00A0F9;
        //    color: #FFFFFF;
        //    font-family: Montserrat;
        //    font-size: 15px;
        //    line-height: 19px;
        //    text-align: center;
        //    text-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
        //}
        //
        //.title_h3 {
        //    color: #37383E;
        //    font-family: Montserrat;
        //    font-size: 24px;
        //    font-weight: bold;
        //    line-height: 24px;
        //}
    }
}
