@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import 'blocks/menu.scss';

.header {
    .header_top {
        padding: 16px 32px 16px 32px;
        height: 66px;
        border-bottom: 1px solid $border_bottom;

        .header_top_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .adaptive_menu_icon {
                display: none;
            }

            .header_top_logo img{
                width: 60px;
                height: 40px;

                &:hover {
                    cursor: pointer;
                }
            }


            .header_top_burger {
                margin-left: 2%;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }

            .header_top_icon {
                display: flex;
                align-items: center;

                .header_top_profile_search {
                    height: 19.71px;
                    width: 19.71px;
                    display: block;
                    cursor: pointer;
                    position: relative;
                }
            }
        }
    }

    .header_bottom {
        display: flex;
        //  flex-wrap: wrap;
        height: 68px;
        width: 100%;
        background-color: #F4F4F4;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        //padding: 33px 470px 33px 145px;
        border-bottom: 1px solid #F4F4F4;

        .header_bottom_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            border-bottom: 1px solid #F4F4F4;

            .header_bottom_photo {
                margin-bottom: 3%;
                z-index: 100;

                img {
                    max-width: 100%;
                    height: 348px;
                }
            }

            .header_bottom_h1 {
                width: 497px;
                color: #3B424B;
                font-family: Montserrat;
                font-size: 36px;
                font-weight: bold;
                line-height: 36px;
                margin-left: 5%;

                span {
                    color: #00A0F9;
                }

            }

            .credit_blocks {
                height: 324px;
                //width: 992px;
                width: 114%;
                padding: 2%;
                margin-left: -15%;
                margin-top: 2%;
                margin-bottom: 2%;
                height: 200px;
                background-color: #FFFFFF;
                //padding: 27px 47px 44px 152px;

                .credit_blocks_menu {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            margin: 10px 1%;

                            a {
                                color: #00A0F9;
                                font-family: Montserrat;
                                font-size: 18px;
                                line-height: 24px;
                                border-bottom: 1px solid transparent;
                                display: inline-block;
                            }
                        }
                    }
                }

                .credit_blocks_tracker {
                    margin-bottom: 2%;
                }

                .credit_blocks_buttons {
                    padding-left: 7%;
                    button {
                        height: 40px;
                        width: 124px;
                        border-radius: 65px;
                        background-color: #F4F4F4;
                        margin-left: 0.8%;
                    }

                    .today {
                        width: 84px;
                        border-radius: 26px;
                        background-color: #00A0F9;
                    }

                    .refinancing {
                        width: 164px;
                    }

                    .offers {
                        width: 214px;
                        border-radius: 2px;
                        background-color: #00A0F9;
                        margin-left: 2%;
                    }

                }
            }
        }
    }
}

.blockRecommended {
    //height: 106px;
    //height: 60px;
    height: auto;
    //width: 1150px;
    width: 87%;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px 0 rgba(249,0,243,0.14), 0 49px 55px 0 rgba(135,130,161,0.2);
    //padding: 23px 61px 38px 33px;
    padding: 23px 61px 23px 33px;
    margin-top: 25%;
    margin-bottom: 2%;
    z-index: 100;

    img {
        height: 59px;	width: 149px;	opacity: 0.75;
        margin-left: 2%;
    }
}

.offers {
    margin-top: 2%;
    margin-bottom: 2%;

    h3 {
        height: 24px;	width: 242px;	color: #37383E;	font-family: Montserrat;	font-size: 24px;	font-weight: bold;	line-height: 24px;
    }
    .offers_block {
        display: flex;
        flex-wrap: wrap;

        .offers_block_left div, .offers_block_new_flat, .offers_block_right div {
            height: 140px;
            //width: 356px;
            width: 320px;
            background-color: #FFFFFF;
            box-shadow: 0 15px 33px 0 rgba(153,130,161,0.6);
            padding: 3%;
            border: 1px solid #F4F4F4;
            //margin-bottom: 5%;
            //margin-right: 1%;
            //margin-left: 5%;
            display: flex;
            position: relative;

            img {
                display: block;
                max-width: 100%;
            }

            span {
                position: absolute;
                z-index: 100;
                top: 30px;
                left: 55px;
                width: 50%;
                color: #3B424B;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;

                &:active {
                    color: #00A0F9;
                }
            }

            span:last-child {
                align-content: flex-start;
                position: absolute;
                z-index: 100;
                //margin-top: auto;
                top: 75%;
                left: 40px;
                height: 20px;
                width: 102px;
                color: #00A0F9;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }
        }

        .offers_block_left, .offers_block_right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .offers_block_car_loan {
            span:first-child {
                height: 72px;
                width: 152px;
                color: #00A0F9;
            }
        }

        .offers_block_a_microloan {
            span:first-child {
                height: 48px;
                width: 152px;
            }
        }

        .offers_block_new_flat {
            height: 278px;
            width: 21%;
            margin: 0 2%;
            padding: 2%;

            span:first-child {
                height: 96px;
                width: 228px;
            }
        }

        .offers_block_credit {
            span:first-child {
                height: 72px;
                width: 152px;
            }
        }

        .offers_block_credit_cards {
            span:first-child {
                height: 72px;
                width: 152px;
            }
        }
    }
}

.simularOffers {
    margin-top: 2%;
    margin-bottom: 2%;

    h3 {
        height: 24px;
        width: 310px;
        color: #37383E;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    .simularOffersBlock {
        display: flex;
        margin-bottom: 1%;

        .simularOffer {
            height: 432px;
            width: 256px;
            background-color: #FFFFFF;
            margin-left: 1%;
            padding: 1%;
            border: 1px solid #F4F4F4;
            display: flex;
            flex-direction: column;

            img {
                height: 167px;
                width: 222px;
            }

            .title {
                height: 16px;
                width: 35px;
                color: #788089;
                font-family: Montserrat;
                font-size: 13px;
                line-height: 16px;
            }

            div {
                height: 48px;
                width: 209px;
                color: #00A0F9;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }

            .full_title {
                margin-top: 1%;
            }

            .prices {
                margin-top: auto;
            }

            .price_text {
                height: 20px;
                width: 34px;
                color: #3B424B;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }

            .price_text_credit {
                height: 20px;
                width: 77px;
                color: #3B424B;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }

            .price_digit {
                height: 24px;
                width: 78px;
                color: #3B424B;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }

            a {
                height: 20px;
                width: 117px;
                color: #00A0F9;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
                text-decoration: none;
                margin-top: auto;
                border-bottom: 1px solid transparent;
                display: inline-block;
            }
        }
    }

}

@media (max-width: 768px) {
    .adaptive_menu_icon {
        display: block;
    }

    .header_top_menu, .header_top_burger {
        display: none
    }

    .credit_blocks {
        margin-left: 16%;
        margin-bottom: 5%;
        height: 350px;

        .credit_blocks_menu {
            a {
                font-size: 14px;
            }
        }
    }

    .header_bottom_h1 {
        font-size: 30px;
    }

    .header_bottom_photo {
        display: none;
    }

    button {
        //width: 150px;
        margin-left: 0;
    }

    .blockRecommended {
        margin-top: 40%;
        margin-left: -10%;
    }

    .offers_block_right {
       flex-direction: row;
        width: 100%;

        .offers_block_credit {

        }
    }
}
