@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './range.scss';
@import './blocks/menu.scss';
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

// .container-fluid {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

.full_view_mode {
    display: block;
}
.device_mode {
    display: none;
}

.credit_cards_filter {
    background-color: #FFFFFF;
    padding: 36px 0px;

    .filter {
        // margin: 0px auto;

        .credit_cards_filter_h1 {
            color: #37383E;
            font-family: Montserrat;
            font-size: 36px;
            font-weight: bold;

            .credit_cards_filter_span {
                color: #00A0F9;
                font-weight: 900
            }

            .filter_triangle {
                position: absolute;
                margin-top: 20px;
                margin-left: 5px;
                width: 10px;
                height: 6px;
                border-top: 6px solid #00A0F9;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }

        .sliders {
            margin-top: 32px;
            .limit_range {
                width: 224px;
            }
            .percent_range {
                width: 224px;
            }
           // .percent {
           //     margin-left: 69px;
           // }
           //
           // .limit_range, .percent_range {
           //     background: #00A0F9;
           // }
           //
           //.limit_text, .percent_text {
           //     color: #4A4A4A;
           //     font-family: ".SF NS Display";
           //     font-size: 13px;
           // }
           //
           // .limit_value, .percent_value {
           //     color: #4A4A4A;
           //     font-family: ".SF NS Display";
           //     font-size: 15px;
           // }
        }

        .filter_buttons {
            margin-top: 29px;

            .filter_button {
                padding: 0px 15px;
                margin: auto 5px;
                //padding: 0px 30px 0px 30px;
                height: 40px;
                border-radius: 65px;
                background-color: #F4F4F4;
                color: #37383E;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
                text-align: center;
            }

            .filter_selected {
                border-radius: 26px;
                background-color: #00A0F9;
                color: #F4F4F4;
            }
        }
    }
}


.cards {
    margin-top: 37px;

    .card {
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 2px 0 rgba(128,130,139,0.2);
        margin-bottom: 17px;
        padding: 23px;

        .card_image {
            // height: 154.55px;
            // width: 239px;
            // width: 100%;
        }
        .license {
            color: #8B98A0;
            font-family: "Source Sans Pro";
            font-size: 12px;
            line-height: 15px;
        }

        .card_content {
            margin-left: 15px;

            .row_context {
                margin-top: 27px;
            }

            h2 {
                color: #37383E;
                font-family: 'Montserrat';
                font-size: 20px;
                line-height: 24px;
            }
            .license {
                color: #8B98A0;
                font-family: "Source Sans Pro";
                font-size: 12px;
                line-height: 15px;
            }
            div.percent {
                width: 110px;

                .digit {
                    color: #37383E;
                    font-family: Montserrat;
                    font-size: 24px;
                }
                .text {
                    color: #788089;
                    font-family: "Source Sans Pro";
                    font-size: 13px;
                }
                p {
                    margin-top: -9px;
                    line-height: 16px;
                }
            }

            div.lgot {
                .digit {
                    margin: 1px;
                    color: #37383E;
                    font-family: Montserrat;
                    font-size: 24px;
                }
                .text {
                    width: 100px;
                    color: #788089;
                    font-family: "Source Sans Pro";
                    font-size: 13px;
                }
                p {
                    margin: -9px 0px 0px 16px;
                    line-height: 13px;
                }
            }

            div.limit {
                width: 140px;

                .digit {
                    color: #37383E;
                    font-family: Montserrat;
                    font-size: 24px;
                }
                .text {
                    color: #788089;
                    font-family: "Source Sans Pro";
                    font-size: 13px;
                }
                p {
                    margin: -9px 0px 0px 16px;
                    line-height: 16px;
                }
            }

            span.service {
                color: #3B424B;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }

            button.btn_to_issue {
                width: 145px;
                height: 40px;
                border-radius: 2px;
                background-color: #00A0F9;

                color: #FFFFFF;
                font-family: Montserrat;
                font-size: 15px;
                line-height: 19px;
                text-align: center;
                text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
            }
            // .free_case {
            //     width: 150px;
            // }
        }
    }
}






