@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './blocks/menu.scss';
@import './range.scss';
@import './libs.scss';

.shop_car {
    .car {
        margin-bottom: 34px;

        .bredcrumbs {
            padding: 34px 12% 42px 12%;

            .breadcrums_rect {
                height: 4px;
                width: 4px;
                transform: rotate(45deg);
                background-color: #788089;
                border: 1px solid gray;
            }
        }
        .block  {
            background: #FFF;
            padding: 34px 12% 42px 12%;

            .photos {

                .photos_item {
                    height: 255px;
                    //width: 577px;
                    //width:100%;
                }
            }

            .desc {
                .price {
                    margin-right: 40px;
                }
            }
        }
    }

    .offers {
        //padding: 34px 12% 42px 12%;
        margin-bottom: 10px;

        .saler_item, .credit_item {
            background: #FFF;
        }
    }

    .registration {
        //margin: 10px 109px 2px 99px;
        margin: 10px 109px 2px 389px;
        //padding: 34px 12% 42px 12%;
        padding: 34px 12% 42px 3%;
        height: 264px;
        height: auto;
        //width: 1232px;
        width: 67%;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 24px 0 rgba(249,0,243,0.14), 0 49px 55px 0 rgba(135,130,161,0.2);

        .reg_h3 {
            //width: 174px;
            color: #37383E;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: bold;
            line-height: 24px;
        }

        .fio_input, .contact_input {
            border: none;
            border-bottom: 1px solid #F4F4F4;
        }
        .accept_button {
            margin-top: 10%;

            button {
                height: 56px;
                width: 238px;
                border-radius: 2px;
                background-color: #00A0F9;
                color: #FFFFFF;
                font-family: Montserrat;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                text-shadow: 0 1px 0 0 #FFFFFF;
            }
        }
    }

    .simular_offers {
        margin-top: 50px;
    }
}


@media (max-width: 992px) {//576

    .photos {
        div.photos_small {
            //display: none;
        }
    }

    .desc_prices {
        //display: block;

        .price {
            display: flex;
            //width: 100%;
        }
    }

    .offers {
        display: flex;
    }

    .registration {
        margin-left: 11%;
        width: 80%;

        .block {
            //display: block;
            flex-direction: column;
            margin: 0 27%;
            height: 100%;
            height: auto;
        }
    }
}

@media (max-width: 576px) {
    .registration {
        height: auto;
    }
    .block {
        padding: 2% auto;
        height: auto;

        .block_item {
            margin-left: 0;
        }
    }
}

@media (max-width: 320px) {
    .registration {
        margin-bottom: 190px;
    }
}
