@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './blocks/menu.scss';
@import './range.scss';
@import './libs.scss';


.online_credits {

    .online_credits_photo {
        z-index: 100;

        img {
            height: 491px;
            //width: 527px;
            width: 100%;
            box-shadow: 0 2px 80px 0 rgba(255,255,255,0.68);
            z-index: 100;
        }
    }

    .h1 {
        height: 48px;
        width: 684px;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: bold;
        line-height: 48px;

        .h1_span_Astana {
            color: #00A0F9;
            margin-left: 2%;
        }

        &::after {
            content: "";
            height: 6px;
            width: 10px;
            transform: rotate(180deg);
            background-color: #00A0F9;
        }

        .filter_triangle {
            position: absolute;
            top: 25px;
            margin-left: 5px;
            width: 10px;
            height: 6px;
            border-top: 6px solid #00A0F9;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }

    .block {
        //height: 324px;
        width: 992px;
        background-color: #FFFFFF;
        padding: 27px 116px 46px 150px;
        margin-top: 29px;
        margin-bottom: 2%;
        margin-left: -20%;

        .menu {
            li {
                //margin-right: 20%;

                a {
                    // //width: 111px;
                    color: #00A0F9;
                    font-family: Montserrat;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }

        .sliders {
            margin-top: 32px;

            .col {
                margin-right: 20px;
            }

            .percent {
                margin-left: 69px;
            }

            .limit_range, .percent_range {
                background: #00A0F9;
            }

           .limit_text, .percent_text {
                color: #4A4A4A;
                font-family: ".SF NS Display";
                font-size: 13px;
            }

            .limit_value, .percent_value {
                color: #4A4A4A;
                font-family: ".SF NS Display";
                font-size: 15px;
            }
        }

        .filter_buttons {
            margin-top: 46px;

            .filter_button {
                // padding: auto 120px;
                //margin: auto 5px;
                //padding: 0px 30px 0px 30px;
                padding: 0px 20px 0px 20px;
                height: 40px;
                border-radius: 65px;
                background-color: #F4F4F4;
                color: #37383E;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
                text-align: center;
            }

            .without_references {
                //width: 124px;
            }

            .offers_button {
                height: 40px;
                //width: 214px;
                border-radius: 2px;
                background-color: #00A0F9;
                color: #FFFFFF;
                font-family: Montserrat;
                font-size: 15px;
                line-height: 19px;
                text-align: center;
                text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
            }

            .filter_selected {
                border-radius: 26px;
                background-color: #00A0F9;
                color: #F4F4F4;
            }
        }
    }
}

.blockRecommended {
    //width: 1150px;
    //padding: 23px 61px 38px 33px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px 0 rgba(249,0,243,0.14), 0 49px 55px 0 rgba(135,130,161,0.2);
    padding: 23px 61px 23px 33px;
    margin-bottom: 2%;
    z-index: 100;
    //height: 106px;
    width: 110%;

    .row {
        div {
            margin-left: 0%;

            img {
                height: 59px;
                //width: 149px;
                opacity: 0.75;
            }
        }
    }

}

.offers {
    margin-top: 2%;
    margin-bottom: 2%;

    .block {
        // .block_left div, .block_new_flat, .block_right div {
        //     //width: 356px;
        //     //width: 320px;
        //     //margin-bottom: 5%;
        //     //margin-right: 1%;
        //     //margin-left: 5%;
        //     //display: flex;
        //     //position: relative;
        //     height: 140px;
        //     background-color: #FFFFFF;
        //     box-shadow: 0 15px 33px 0 rgba(153,130,161,0.6);
        //     padding: 3%;
        //     border: 1px solid #F4F4F4;

        //     img {
        //         display: block;
        //         max-width: 100%;
        //     }

        //     span {
        //         position: absolute;
        //         z-index: 100;
        //         top: 30px;
        //         left: 55px;
        //         width: 50%;
        //         color: #3B424B;
        //         font-family: Montserrat;
        //         font-size: 18px;
        //         font-weight: 500;
        //         line-height: 24px;

        //         &:active {
        //             color: #00A0F9;
        //         }
        //     }

        //     span:last-child {
        //         align-content: flex-start;
        //         position: absolute;
        //         z-index: 100;
        //         //margin-top: auto;
        //         top: 75%;
        //         left: 40px;
        //         height: 20px;
        //         width: 102px;
        //         color: #00A0F9;
        //         font-family: "Source Sans Pro";
        //         font-size: 15px;
        //         line-height: 20px;
        //     }
        // }

        img {
            width: 170px;
            height: 123px;
        }

        .car_loan_block, .a_microloan_block, .new_flat_block, .credit_block, .credit_cards_block {
            padding: 16px 0 18px 26px;
        }

        .car_loan_block, .a_microloan_block, .new_flat_block, .credit_block, .credit_cards_block {
            height: 140px;
            //width: 356px;
            background-color: #FFFFFF;
            box-shadow: 0 15px 33px 0 rgba(153,130,161,0.6);
            margin-bottom: 40px;

            &:hover {
                color: #00A0F9;
            }
        }

        .car_loan, .a_microloan_block, .new_flat_block, .credit, .credit_cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .offer_qty {
                margin-top: auto;
                margin-top: 20%;
            }
        }

        .car_loan_block {

            span {
                height: 72px;
                width: 152px;
            }

            .car_loan {


            }


        }

        // .block_a_microloan {
        //     span:first-child {
        //         height: 48px;
        //         width: 152px;
        //     }
        // }

        .new_flat_block {
            //height: 278px;
            height: 315px;
            background: url("../images/flat.jpg");
            background-image: url("../images/flat.jpg");
            background-size: cover;
            background-position: center;
        }

        // .block_credit {
        //     span:first-child {
        //         height: 72px;
        //         width: 152px;
        //     }
        // }

        // .block_credit_cards {
        //     span:first-child {
        //         height: 72px;
        //         width: 152px;
        //     }
        // }
    }
}

.simularOffers {
    margin-top: 2%;
    margin-bottom: 2%;

    h3 {
        height: 24px;
        width: 310px;
        color: #37383E;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }

    .block {
        display: flex;
        margin-bottom: 1%;

        .offer {
            height: 432px;
            width: 256px;
            background-color: #FFFFFF;
            margin-left: 1%;
            padding: 1%;
            border: 1px solid #F4F4F4;
            display: flex;
            flex-direction: column;

            img {
                height: 167px;
                width: 222px;
            }

            .title {
                height: 16px;
                width: 35px;
                color: #788089;
                font-family: Montserrat;
                font-size: 13px;
                line-height: 16px;
            }

            div {
                height: 48px;
                width: 209px;
                color: #00A0F9;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }

            .full_title {
                margin-top: 1%;
            }

            .prices {
                margin-top: auto;
            }

            .price_text {
                height: 20px;
                width: 34px;
                color: #3B424B;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }

            .price_text_credit {
                height: 20px;
                width: 77px;
                color: #3B424B;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }

            .price_digit {
                height: 24px;
                width: 78px;
                color: #3B424B;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }

            a {
                height: 20px;
                width: 117px;
                color: #00A0F9;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
                text-decoration: none;
                margin-top: auto;
                border-bottom: 1px solid transparent;
                display: inline-block;
            }
        }
    }

}

// @media (max-width: 768px) {
//     .adaptive_menu_icon {
//         display: block;
//     }

//     .header_top_menu, .header_top_burger {
//         display: none
//     }

//     .credit_blocks {
//         margin-left: 16%;
//         margin-bottom: 5%;
//         height: 350px;

//         .credit_blocks_menu {
//             a {
//                 font-size: 14px;
//             }
//         }
//     }

//     .header_bottom_h1 {
//         font-size: 30px;
//     }

//     .header_bottom_photo {
//         display: none;
//     }

//     button {
//         //width: 150px;
//         //margin-left: 0;
//     }

//     .blockRecommended {
//         margin-top: 40%;
//         margin-left: -10%;
//     }

//     .offers_block_right {
//         flex-direction: row;
//         width: 100%;

//         .offers_block_credit {

//         }
//     }
// }

@media (max-width: 992px) {

    .block {

        img {
            width:100px;
            position: absolute;
            top:-10px;
            left: -20px;
        }

        .car_loan_block, .credit_block, .credit_cards_block {
            position: relative;
        }

        .block_right {
            display: flex;

            .credit_block, .credit_cards_block {
                flex-basis: 50%;
            }

            .credit_cards_block  {
                margin-left: 3%;
            }
        }
    }
}
