@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './core.scss';
@import './blocks/menu.scss';
@import './libs.scss';

.profile {
    .profile_h1 {
        margin-top: 30px;
        margin-bottom: 40px;
        //width: 1025px;
        //text-align: center;
    }

    //.menu {
    //    border-bottom: 1px solid #D1D3D4;
    //
    //    .menu_item {
    //        //margin-right: 32px;
    //
    //        a {
    //            //width: 152px;
    //            color: #00A0F9;
    //            font-family: Montserrat;
    //            font-size: 18px;
    //            line-height: 24px;
    //            transition: all 1s ease 0s;
    //
    //            &:hover {
    //                text-decoration: #00A0F9;
    //                color: #3B424B;
    //            }
    //        }
    //    }
    //}

    .block {
        padding: 32px 24px 39px 17px;
        margin-bottom: 8px;
        //height: 156px;
        //width: 1150px;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 15px 33px 0 rgba(153,130,161,0.18);

        .block_photo {
            //margin-right: 150px;
        }

        .block_date {
            //margin-left: 140px;
        }

        button {
            height: 40px;
            width: 238px;
            border-radius: 2px;
            background-color: #00A0F9;
            color: #FFFFFF;
            font-family: Montserrat;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
            text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
        }
    }
}

@media (max-width: 992px) {
    .profile {
        .profile_h1 {
            font-size: 24px;
        }

        .menu {
            width: 657px;
            width: 700px;
            .menu_item {
                margin-right: 7px;
                //width: 400px;
            }
        }

        .draw_a_microloan {
            display: block;
        }
    }
}





