.header {
    padding: 16px 32px 0px 32px;
    align-items: center;
    border-bottom: 1px solid #D1D3D4;

    .logo {
        height: 33px;
        width: 110px;
    }

    .menu {
        //align-items: center;

        .menu_item {
            margin-right: 46px;

            a {
                color: #3B424B;
                font-family: "Source Sans Pro";
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    .all-products-icon_item {
        &:last-child {
            margin-left: 10px;
        }
    }

    .profile_link {
        margin-right: 25px;
    }
}

@media (max-width: 992px) {
    .header {
        ul.menu {
            display: none;
        }
    }
}
