.navbar {
  height: 100%;

  .menu {
    margin: 0px;

    .menu_item {
      a {
        height: 43px;
        color: #00A0F9;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 24px;
        transition: all 1s ease 0s;
        display: block;

        border-bottom: 6px solid transparent;

        &:hover {
          text-decoration: #00A0F9;
          color: #3B424B;
          border-bottom: 6px solid #00A0F9;
        }
      }
    }
  }
}
